.uk-container{
    padding:15px;
    height: fit-content;
    border-radius: 10px;
    background-color: white;
    color: black;
    margin-top: 10px;
    border: 2px solid black ; 
    width: 50%;
}
.title{ 
    color: black;
    font-weight: 699;
}
.subtitle{
    margin-top: 15px;
    font-weight: 600;
    color: black;
}