


.navbar.active {
  height: 60px;
  background: #f79354;
  border-radius: 0px 0px 5px 5px;
  color: black;
  transition: all 0.5s linear; 


}
.navbar.menuactive {
  color: white;
}
.navbar {
  height: 80px;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  z-index: 100;
  position: sticky;
  width: 100%;
  transition: all 0.5s linear;
}
.logo {
  color: white;
  font-style: italic;
  font-weight: 900;
  font-size: 1.3rem;
  color: white;
  border: 1px solid transparent !important;

  @media screen and (max-width: 768px) {
    margin-top: 11px;
  }
}

.logo.active {
  transition: all 0.5s linear;
  color: #fff;
  border: 1px solid transparent !important;
  font-weight: 1500;
}

/* .menubar {
  @media screen and (max-width: 768px) {
    display: block;
    color: white;
    height: 40px;
    width: 40px;
    cursor: pointer;
    margin-bottom: auto;
    margin-top: auto;
    position: absolute;
    right: 0;
    transform: translate(-50%, 25%);
    font-size: 1rem;
  }
} */
.menubar.active {
  height: 30px;
  transition: all 0.5s linear;
  color: white;
  transition: all 0.5s linear;
  margin-top: -5px !important;
  
}
@media screen and (max-width: 768px) {
  .menubar {
    display: block;
    color: white;
    height: 40px;
    width: 40px;
    cursor: pointer;
    position: absolute;
    right: 0;
    transform: translate(-50%, 25%);
    font-size: 1rem;
margin: auto;  
}
}